[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-flakes = "*"
pytest-isort = "*"
pytest-django = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
factory-boy = "*"
tox = "*"
pytest-pycodestyle = "*"

[packages]
django-cms = "*"
django = "*"

[requires]
python_version = "3.6"
